
.header {
	width: 100%;
	
	padding: 40px 10px;

	background-color: $c-white;
	
	@media screen and (max-width: 930px) {
		padding: 10px 10px;

		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
	}

	&__items {
		height: 65px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__items-right,
	&__items-left {
		display: flex;
		align-items: center;
	}

	&__items .form {
		@media screen and (max-width: 930px) {
			display: none;
		}
	}	
}

.menu {
	margin-left: 64px;
	text-align: center;

	@media screen and (max-width: 930px) {
		display: none;
	}

	&__list-upper {
		position: relative;

		list-style: none;
	
		&:after {
			content: ""; clear: both; display: block;
		}
	
		.menu__list-item {
			float: left;
	
			.menu__list-link {
				display: block;
				padding: 15px 13px;

				position: relative;

				font-size: 18px;
				line-height: 24px;
				
				color: $c-lightGrey; 
				text-decoration: none;

				transition: all 0.3s;

				&:before {
					height: 6px;
					width: 6px;

					position: absolute;
					content: none;
					bottom: 0;
					right: calc(50% - 5px);

					background-color:$c-accentGreen;

					border-radius: 100%;
				}

				&--active {
					color: $c-activeDark;

					&:before {
						content: "";
					}
				}
			}
			
			&:hover {
				.menu__list-average {
					display: block;
				}
	
				.menu__list-link {
					color: $c-activeDark;

					&:before {
						content: "";
					}
				}
			}
		}
	}

	&__list-average {
		display: none;

		position: absolute;
		top: 100%;

		background-color: $c-white;

		.menu__list-item {
			float: none;

			position: relative;

			&:hover {
				.menu__list-lower {
					display: block;
				}
			}

			.menu__list-link {
				padding: 15px 30px;

				&:before {
					content: none !important;
				}

				&:hover {
					background: $c-silver;
				}
			}
		}
	}

	&__list-lower {
		display: none;

		position: absolute;
		left: 100%;
		top:0;

		background-color: $c-white;
	}
}

.menu-mobile {
	display: none;
	width: 56px;
	height: 56px;

	position: relative;

	border-radius: 100%;

	background-color: $c-accentGreen;
	
	transition: background-color .3s;
	cursor: pointer;

	&:hover {
		background-color: $c-hoverGreen;
	}

	@media screen and (max-width: 930px) {
		display: block;
	}

	&__list-upper-overlay {
		width: 407px;
		height: 500px;
		position: absolute;
		left: 75px;
		z-index: 1;
		-webkit-filter: blur(5px);
		-moz-filter: blur(5px);
		  -o-filter: blur(5px);
		 -ms-filter: blur(5px);
			 filter: blur(5px);
			 background-color: #fffffff0;;
			 transition: all .3s;

	}

	&__list-upper { //верхний ul
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 407px;
		height: 500px;

		position: absolute;
		left: 55px;
		z-index: 2;

		visibility: hidden;

		transition: all .3s; // появление меню с боку

		.menu-mobile__list-item { //1 уровень ли
			text-align: center;
			font-weight: bold;
			font-size: 25px;
			line-height: 41px;
			letter-spacing: -0.01em;
			padding: 5px 0;
			transition: font-weight .3s;
			
			&:hover {
				font-weight: bold;
			}
			.menu-mobile__list-average { // средний ul
				.menu-mobile__list-item { //2 уровень ли
					padding-left: 10px;
					max-height: 0;

					overflow: auto;
					transition: max-height 1s;

					.menu-mobile__list-lower { // нижний ul
						.menu-mobile__list-item {
							padding-left: 10px;
							max-height: 0;

							overflow: auto;
							transition: max-height 1s;
						}
					}
				}
			}
		}

		.menu-mobile__list-item {
			&:hover {
				.menu-mobile__list-average {
					.menu-mobile__list-item { //2 level
						& > a:hover {
							text-decoration: underline;
						}
						max-height: 200px;
						.menu-mobile__list-lower {
							.menu-mobile__list-item { //3 level
								max-height: 200px;
							}
						}
					}
				}
			}
		}
	}

	&__icon {
		width: 21px;

		position: relative;
		top: 28px;

		transition: all .3s;

		&,
		&::before,
		&::after {
			display: block;
			
			height: 2px;

			background-color: $c-white;
			border-radius: 6px;
		}

		&::before,
		&::after {
			width: 21px;

			position: absolute;
			left: 0px;

			content: '';
		}

		&::before {
			top: -6px;
		}
		&::after {
			content: '';
			top: 6px;
		}
	}

	&__opener {
		display: none;
	}

	&__label {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		cursor: pointer;
	}

	&__opener:checked ~ &__list-upper {
		width: 407px;
		height: 500px;

		position: absolute;
		top: 69px;
		left: -341px;

		visibility: visible;

		// background: #ffffffd6;
	}

	&__opener:checked ~ &__list-upper-overlay {
		width: 407px;
		height: 500px;

		position: absolute;
		top: 59px;
		left: -334px;

		visibility: visible;

		// background: #ffffffd6;
	}
	
	&__opener:checked ~ &__label > &__icon {
		transform: rotate(45deg);
	}
	&__opener:checked ~ &__label > &__icon::before {
		display: none;
	}
	&__opener:checked ~ &__label > &__icon::after {
		width: 100%;

		top: 0px;
		left: 0px;

		transform: rotate(90deg);
	}

	&__list-link {
		display: block;

		text-decoration: none;

		color: $c-black;
	}
}

.logo {
	&__link {
		cursor: pointer;
	}
	&__img {
	}

	&--footer {
		margin-bottom: 48px;
	}
}

.call {
	&__number {
		color: $c-grey;

		transition: color .3s;

		&:hover {
			color: $c-activeDark;
		}

		@media screen and (max-width: 930px) {
			display: none;
		}
	}
	&__decor {
		width: 56px;
		height: 56px;
		margin-right: 16px;
		display: none;
		justify-content: center;
		align-items: center;

		border-radius: 100%;
		border: 1px solid $c-borderGrey;

		transition: background-color .3s;
	
		&:hover {
			background-color: $c-opacityGrey;
		}

		@media screen and (max-width: 930px) {
			display: flex;
		}
	}
}

.form {
	margin-left: 24px;
	display: block;
	width: 56px;
	height: 56px;

	position: relative;

	border-radius: 100%;

	background-color: $c-accentGreen;
	
	transition: background-color .3s;
	cursor: pointer;

	z-index: 20;

	&:hover {
		background-color: $c-hoverGreen;
	}

	&__post {
		display: flex;
		flex-direction: column;
		width: 574px;
		height: 730px;
		padding: 60px 48px;

		position: absolute;
		left: -443px;
		top: -785px;
		z-index: 1;

		visibility: hidden;

		transition: all .3s; // появление меню с боку

		background-color: #222222f5;;
	}

	&__heading {
		margin-bottom: 18px;

		color: $c-white;
		font-weight: bold;
		font-size: 42px;
		line-height: 100%;
		letter-spacing: -0.01em;
	}

	&__subheading {
		margin-bottom: 40px;
		padding-right: 60px;

		font-weight: 500;
		font-size: 18px;
		line-height: 150%;
		letter-spacing: -0.01em;

		color: #ACA6A6;
	}

	&__icon {
		width: 21px;

		position: relative;
		top: 28px;

		transition: all .3s;

		&,
		&::before,
		&::after {
			display: block;
			
			height: 2px;

			background-color: $c-white;
			border-radius: 6px;
		}

		&::before,
		&::after {
			width: 21px;

			position: absolute;
			left: 0px;

			content: '';
		}

		&::before {
			content: none;
			top: -6px;
		}
		&::after {
			content: '';
			top: 0px;
			transform: rotate(90deg);
		}
	}

	&__opener {
		display: none;
	}

	&__label {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;

		cursor: pointer;
	}

	&__opener:checked ~ &__post {
		width: 574px;
		height: 740px;
		padding: 60px 48px;

		position: absolute;
		top: -45px;
		left: -433px;
		z-index: -1;

		visibility: visible;

		background: #222222f5;;
		
	}
	
	&__opener:checked ~ &__label > &__icon {
		transform: rotate(45deg);
	}
	&__opener:checked ~ &__label > &__icon::before {
		content: "";
		width: 56px;
		height: 56px;
		background: transparent;
		border: 1px solid;
		top: -27px;
		left: -17px;
		border-radius: 100%;
	}
	&__opener:checked ~ &__label > &__icon::after {
		width: 100%;

		top: 0px;
		left: 0px;

		transform: rotate(90deg);
	}
	&__act-box {
		position: relative;
	}

	&__name,
	&__email,
	&__message {
		width: 100%;
		height: 60px;
		margin-bottom: 10px;
		border: none;
		outline: none;
		border-bottom: 1px solid $c-borderGrey;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;

		font-size: 18px;
		line-height: 150%;
		letter-spacing: -0.01em;
		color: $c-white;

		background: transparent;


		&::placeholder {
			color: $c-silver;
		}
	}


	&__email:valid,
	&__name:valid {
		border-bottom-color: $c-accentGreen;

		& + .form__required {
			display: none;;
		}
	}

	&__required {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	&__email:required:invalid:focus,
	&__name:required:invalid:focus {
		border-bottom-color: $c-error;

		& + .feedback__required {
			color: $c-error;
		}
	}

	&__message {
		resize: none;

		padding-top: 10px;
		
		font-family: "Manrope-Regular", Helvetica, Arial, sans-serif;

		margin-bottom: 135px;
	}

	&__form-bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column-reverse;
	}

	&__form-bottom-text {
		font-size: 14px;
		line-height: 150%;

		letter-spacing: -0.01em;

		color: $c-lightSelver;
	}
	&__form-bottom-btn {
		width: 100%;
		margin-bottom: 27px;
		background-color: $c-accentGreen;
		border-radius: 71px;
		padding: 18px 58px;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 24px;
		line-height: 150%;

		letter-spacing: -0.01em;

		color: $c-white;

		transition: background-color .3s;

		&:hover {
			background-color: $c-hoverGreen;
		}
	}
}



