.map {
	position: relative;
	height: 700px;

	@media screen and (max-width: 650px) {
		margin-top: 350px;
	}

	&__item {
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		height: 100%;
	}

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		z-index: 1;
		background: linear-gradient(179.05deg, rgba(247, 247, 247, 0.87) 46.25%, rgba(247, 247, 247, 0) 112.65%);
	}
	&__contacts {
		position: absolute;
		z-index: 2;
		top: 50%;
		transform: translate(29%, -55%);

		@media screen and (max-width: 991px) {
			top: 34%;
		}

		@media screen and (max-width: 650px) {
			top: -150px;
			transform: translate(4%, -55%);
		}
	}

	&__contacts-phone,
	&__contacts-address {
		margin-bottom: 16px;
	}

	&__contacts-phone-link {
		font-size: 54px;
		color: $c-black;
		font-weight: bold;
		font-weight: 600;
		line-height: 0.9;

		@media screen and (max-width: 650px) {
			font-size: 36px;
		}
	}

	&__contacts-address-text {
		font-weight: 500;
	}

	&__contacts-address-text,
	&__contacts-email-link {
		font-size: 18px;
	}

	&__contacts-email-link {
		color: $c-accentGreen;
	}

	&__contacts-heading-text {
		display: none;
		font-weight: bold;
		font-size: 42px;
		line-height: 99%;		
		letter-spacing: -0.01em;
		
		color: $c-black;

		@media screen and (max-width: 650px) {
			display: block;
			margin-bottom: 16px;
		}
	}
}