.more {
	padding-top: 40px;
	padding-bottom: 124px;
	height: 800px;
	position: relative;

	@media screen and (max-width: 991px) {
		height: 550px;
	}

	@media screen and (max-width: 460px) {
		height: 610px;
	}

	&__bar {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 380px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__heading {
		padding-bottom: 30px;
	}

	&__heading-text {
		font-weight: bold;
		font-size: 48px;
		line-height: 66px;
		color: $c-black;

		@media screen and (max-width: 500px) {
			font-size: 35px;
		}
	}

	&-slider-down__controls {
		display: flex;
		justify-content: flex-end;
	}

	&-slider-down__previous,
	&-slider-down__next {
		outline: none;
		width: 66px;
		height: 66px;

		&:active {
			outline: none;
			border: none;
		}

		&:focus {
			outline: none;
		}

		@media screen and (max-width: 700px) {
			width: 50px;
			height: 50px;
		}


		border: none;
		border-radius: 100%;

		cursor: pointer;
		transition: background-color, .3s;
	}

	&-slider-down__next {
		margin-left: 16px;

		background-color: $c-accentGreen;

		&:hover {
			background-color: $c-hoverGreen;
		}
	}

	&-slider-down__previous {
		background-color: $c-sliderPrevBtn;

		&:hover {
			background-color: #aaaaaa1e;;
		}
	}

	&-slider-down__previous-arrow,
	&-slider-down__next-arrow {
		position: relative;
		height: 22px;
		width: 2px;
		display: inline-block;
		transform: rotate(90deg);

		&::before,
		&::after {
			position: absolute;
			content: "";
			width: 2px;
			height: 10px;
		}
	}

	&-slider-down__previous-arrow {
		background-color: $c-sliderPrev;

		&::before,
		&::after {
			background-color: $c-sliderPrev;
			top: 13px;
		}

		&::before {
			transform: rotate(45deg);
			right: -3px;
		}
		&::after {
			transform: rotate(-45deg);
			right: 3px;
		}
	}

	&-slider-down__next-arrow {
		background-color: $c-white;
		&::before, 
		&::after {
			top: -1px;
			background-color: $c-white;
		}

		&::before {
			transform: rotate(-45deg);
			right: -3px;
		}
		&::after {
			transform: rotate(45deg);
			right: 3px;
		}
	}
}

.tns-ovh {
	position: absolute;
	left: 0;
}

.slider-down {
	position: relative;
	
	&__slide {
		width: 630px;
		height: 480px;

		@media screen and (max-width: 991px) {
			width: 465px;
		}

		@media screen and (max-width: 600px) {
			width: 340px;
		}

	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__item {
		width: 630px;
		height: 400px;

		@media screen and (max-width: 991px) {
			width: 450px;
			height: 300px;
		}

		@media screen and (max-width: 600px) {
			width: 340px;
		}
	}

	&__decor {
		width: 630px;
		height: 400px;

		@media screen and (max-width: 991px) {
			width: 450px;
			height: 300px;
		}

		@media screen and (max-width: 600px) {
			width: 340px;
		}
	}

	&__info {
		padding-top: 16px;
	}

	&__heading {
		margin-bottom: 5px;

		font-size: 20px;
		font-weight: bold;
		line-height: 150%;
		letter-spacing: 0.02em;

		color: $c-dark;

		text-transform: uppercase;
	}

	&__subheading {
		font-size: 15px;
		line-height: 150%;
		letter-spacing: -0.01em;

		color: $c-textGrey;
	}
}

