.wrapper {
	background-color: rgb(58, 133, 190);
	background-image: url('@img/webp/formBg.webp');
}

.consult {
	@include container;
	padding-top: fluid(60, 261);
	padding-bottom: fluid(180, 400);
	padding-right: fluid(75, 321);
	padding-left: fluid(75, 339);


	&__heading {
		@include font(fluid(35, 75), 900, 1.44, white);
		text-transform: uppercase;
		text-align: center;
		margin-bottom: fluid(118, 177);
	}
}