.wrapper {
	background-color: rgb(58, 133, 190);
	background-image: url('@img/webp/background.webp');
	background-repeat: no-repeat;
	background-size: cover;
}

.consult {
	@include container;
	padding-top: 50px;
	padding-bottom: 50px;

	&__container {
		display: flex;
		gap: fluid(40, 60);
		flex-direction: column;

		align-items: center;

		@include respond-above(1100) {
			flex-direction: row;
			justify-content: space-between;
		}

		@include respond-above(1440) {
			gap: fluid(40, 384);
		}
	}

	&__heading {
		@include font(fluid(20, 50), 900, 1.44, #ffffff);

		text-transform: uppercase;
		text-align: center;

		@include respond-above('1100') {
			text-align: start;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: 37px;

		@include respond-above('720') {
			max-width: 660px;
		}

		@include respond-above('1900') {
			max-width: 800px;
		}
	}

	&__in-half {
		display: flex;
		flex-wrap: wrap;
		gap: 25px;
		justify-content: space-between;
		max-width: 100%;
		align-items: center;

		@include respond-above('720') {
			flex-wrap: nowrap;
			gap: 2%;
		}

		&--name {
			display: flex;
			gap: 25px;
			justify-content: space-between;
			max-width: 100%;
			align-items: center;
		}
	}

	&__invalidText {
		margin-top: 8px;
		padding-left: 20px;
		@include font(14px, 500, 19px, #ff3b3b);
		flex-basis: 100%;
		position: absolute;
		@include text-shorten();
		display: none;

		&--name {
			padding-left: 10px;
		}

		@include respond-above('720') {
			font-size: 16px;
		}
	}

	&__button {
		@include font(18px, 700, 1.2, white);
		background-color: #01d1ff;
		min-width: 264px;
		text-transform: uppercase;
		padding: 20px 0;
		border-radius: 80px;
		flex-basis: 100%;
		border: none;
		outline: none;
		cursor: pointer;

		@include respond-above('720') {
			font-size: 25px;
			padding: 30px 0;
			flex-basis: 48%;
			max-width: 373px;
			flex-shrink: 0;
		}


	}

	.disabled {
		background-color: #eaeaea;
		color: #4b4b4b;
		cursor: default;
	}

	&__checkbox-label {
		display: flex;
		align-items: center;
		user-select: none;
		padding-left: 10px;
		cursor: pointer;

		@include respond-above('1440') {
			padding-left: 20px;
		}
	}

	&__circle {
		height: 32px;
		width: 32px;
		border-radius: 80px;
		border: 3px solid #ffffff;
		outline-offset: 5px;
		margin-right: 13px;
		flex-shrink: 0;
	}

	&__label-text {
		@include font(16px, 500, 1.2, white);
		border-radius: 80px;

		@include respond-above('1440') {
			font-size: 22px;
		}
	}
}

.consult__input {
	position: relative;
	width: 100%;
	display: block;
	@include font(18px, 500, 1.2, white);
	padding: 20px;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 80px;
	outline: none;

	@include respond-above('720') {
		font-size: 25px;
		padding: 30px;
	}

	@include respond-above('1980') {
		font-size: fliud(20, 35);
		padding: fliud(40, 46);
	}
}

.relative {
	position: relative;

	&--name,
	&--surname {
		@include respond-above('570') {
			flex-basis: 48%;
		}
	}
}

.star {
	@include font(80px, 500, 97px, #ff3c3c);
	position: absolute;
	top: 50%;
	transform: translateY(-30%);
	display: none;
	right: 23px;
}


.consult__input::placeholder {
	@include font(18px, 500, 1.2, white);

	@include respond-above('720') {
		font-size: 25px;
	}
}

.consult__input:invalid:not(:focus):not(:placeholder-shown)+.star {
	display: block;
}

.consult__input--surname:invalid:not(:focus):not(:placeholder-shown)~.consult__invalidText,
.consult__input--name:invalid:not(:focus):not(:placeholder-shown)~.consult__invalidText {
	display: -webkit-box;
}

.consult__input:invalid:not(:focus):not(:placeholder-shown)~.consult__invalidText {
	display: -webkit-box;
}

//checkbox

.checkbox:checked+.consult__circle {
	background: #D9D9D9;
	border: 3px solid #EAEAEA;

}





.succes__content {
	display: flex;
	flex-direction: column;
	gap: 37px;
	margin-top: 200px;
	margin-bottom: 200px;

	@include respond-above('720') {
		max-width: 660px;
	}

	@include respond-above('1900') {
		max-width: 800px;
	}
}

.succes__title {
	@include font(fluid(60, 80), 700, 1, white);
}

.succes__text {
	@include font(16px, 500, 1.2, white);
}