.footer {
	@include container;

	padding-bottom: fluid(53, 68);
	padding-right: fluid(75, 321);
	padding-left: fluid(75, 339);

	display: flex;
	justify-content: space-between;

	&__credit {
		display: flex;
		flex-direction: column;

		@include respond-above('1800') {
			flex-direction: row;
		}
	}

	&__info {
		@include respond-above('1800') {
			flex-order: -1;
		}
	}

	&__info-item {
		@include font(fluid(10, 20), 500, 1.2, white);
	}

	&__info-item:not(:last-child) {
		margin-bottom: fluid(16, 35);
	}

	&__contact {}

	&__link-with-icon {
		display: flex;
		gap: 25px;
		align-items: center;
		margin-bottom: 19px;
	}


	&__icon {}

	&__link {
		@include font(fluid(10, 20), 500, 1.2, white);

		&--underline {
			text-decoration: underline;
		}
	}

	&__logo {}

}