.forWho {
	@include container;
	margin-top: 50px;
	margin-bottom: 50px;
	&__heading {
		font-weight: 900;
		font-size: 75px;
		line-height: 95px;
		text-align: center;
		text-transform: uppercase;

		color: #0a0a0a;

		@media screen and (max-width: 1200px) {
			font-size: 56px;
			line-height: 71px;
		}
		@media screen and (max-width: 768px) {
			font-size: 40px;
			line-height: 49px;
		}
		@media screen and (max-width: 467px) {
			font-size: 30px;
			line-height: 40px;
		}
	}
	&__subheading {
		font-weight: 300;
		font-size: 30px;
		line-height: 36px;
		text-align: center;

		color: #000000;
		@media screen and (max-width: 1200px) {
			font-size: 20px;
			line-height: 27px;
		}
		@media screen and (max-width: 768px) {
			font-size: 16px;
			line-height: 24px;
		}
		@media screen and (max-width: 467px) {
			font-size: 14px;
		}
	}
}
