.greeting {
	padding-top: 80px;
	padding-bottom: 25px;

	@include respond-above('700') {
		padding-top: 110px;

	}
}

.greeting__heading {
	font-weight: 900;
	font-size: 33px;
	line-height: 1.07;
	text-transform: uppercase;
	color: #01D1FF;
	margin-bottom: 8px;

	@include respond-above('700') {
		font-size: fluid(55, 150);

	}

	@include respond-above('700') {
		margin-bottom: 15px;

	}
}



.greeting__text {
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.2;
	text-transform: uppercase;

	color: #FFFFFF;


	padding-bottom: 80px;

	@include respond-above('700') {
		font-size: fluid(16, 42);
		padding-bottom: 100px;
		width: min(70%, 1100px);
	}
}

.advantages {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 66px;
	gap: fluid(15, 50);

	@include respond-above('700') {
		gap: fluid(25, 99);
		margin-bottom: 80px;
	}

}

.advantages__item {
	max-width: 720px;
}

.advantages__item:not(:last-child) {
	display: flex;
	align-items: start;
	justify-content: space-between;
}

.advantages__group {
	max-width: fluid(120, 500);

	@include respond-above('700') {
		max-width: fluid(272, 500, 700);

	}

}



.advantages__title {
	font-weight: 800;
	font-size: fluid(14, 40);
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #FFFFFF;

	@include respond-above('700') {
		font-size: fluid(22, 60, 700);
		margin-bottom: 15px;
	}
}

.advantages__text {
	font-weight: 400;
	font-size: fluid(11, 22);
	line-height: 1.2;

	color: #FFFFFF;

	@include respond-above('700') {
		font-size: fluid(15, 22);
	}
}



.advantages__svg {
	min-width: 19px;
	margin-left: 10px;
	height: 45px;
	flex-shrink: 0;

	@include respond-above('700') {
		margin-left: fluid(10, 90);
		width: 26.19px;
		height: 93.04px;

	}

	@include respond-above('1920') {
		width: 36.04px;
		height: 128px;
	}
}

.greeting__button {
	display: inline-block;
	background: transparent;
	text-align: center;
	border: 0;
	font-weight: 600;
	font-size: 15px;
	line-height: 1.4;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #01D1FF;
	border-radius: 50px;
	padding: 13px;
	margin-bottom: 80px;
	width: 100%;


	@include respond-above('450') {
		width: auto;
		margin-bottom: 132px;
		font-size: fluid(16, 25);
		padding-inline: fluid(16, 30);
		padding-block: fluid(11, 24);
	}

	@include respond-above('900') {
		margin-bottom: 75px;
	}
}

.greeting__label {
	font-weight: 500;
	font-size: 15px;
	line-height: 1.2;
	text-align: right;
	color: #FFFFFF;
}

.greeting__link {
	text-decoration: underline;
}

.flex {
	display: flex;
}

.white {
	color: white;
}