.lanitBlock {
	@include container;
	padding: 200px 0;

	@media screen and (max-width: 1200px) {
		padding-bottom: 100px !important;
	}

	padding-left: fluid(90, 339);
	padding-right: fluid(90, 339);

	@media screen and (max-width: 991px) {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 80px;
	}

	&__heading {
		@include font(fluid(20, 50), 900, 1.44, black);
		text-transform: uppercase;
		text-align: center;
		margin-bottom: fluid(70, 140);
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: fluid(44, 78);

		@include respond-above(991) {
			justify-content: center;
		}

		@media screen and (max-width: 991px) {
			justify-content: center;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #eaeaea;
		border-radius: 20px;
		padding: 40px;
		transition: box-shadow 0.3s;
		flex: 0 1 100%;
		min-height: 256px;

		@include respond-above(991) {
			justify-content: start;
			flex-basis: 33%;
			max-width: 575px;
			min-height: 200px;
		}

		@include respond-above(1270) {
			justify-content: start;
			flex-basis: 27%;
			max-width: 575px;
			min-height: 200px;
		}

		@include respond-above(1880) {
			flex-basis: 30%;
		}

		@include respond-above(2534) {
			min-height: 334px;
		}

		@media screen and (max-width: 991px) {
			flex: 0 1 33%;
			justify-content: flex-start;
			padding: 25px;
		}

		@media screen and (max-width: 768px) {
			flex: 0 1 100%;
			min-height: 174px;
		}

		@media screen and (max-width: 470px) {
			min-height: 212px;
		}

		&:hover {
			box-shadow: 0 0 15px 1px #8c8c8c91;
		}
	}

	&__card-header {
		@include font(40px, 900, 1, #474747);
		text-transform: uppercase;

		@include respond-above(1980) {
			font-size: fluid(40, 100);
		}

		@media screen and (max-width: 470px) {
			font-size: 45px;
		}
	}

	&__card-subheader {
		@include font(25px, 900, 1.26, #474747);
		margin-bottom: 21px;
		text-transform: uppercase;

		@include respond-above(960) {
			margin-bottom: 13px;
			font-size: 17px;
		}

		@include respond-above(1980) {
			margin-bottom: 24px;
			font-size: fluid(25, 33);
		}

		@media screen and (max-width: 1300px) {
			font-size: 16px;
		}

		@media screen and (max-width: 470px) {
			font-size: 20px;
		}
	}

	&__card-description {
		@include font(20px, 300, 1.2, #474747);

		@include respond-above(1980) {
			font-size: fluid(20, 25);
		}

		@media screen and (max-width: 1300px) {
			font-size: 15px;
		}
	}
}
