.lanitBlock {
	@include container;
	padding-top: fluid(37, 116);
	padding-bottom: fluid(194, 296);
	padding-left: fluid(90, 339);
	padding-right: fluid(90, 339);

	@media screen and (max-width: 991px) {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 80px;
	}

	&__heading {
		@include font(fluid(35, 75), 900, 1.44, black);
		text-transform: uppercase;
		text-align: center;
		margin-bottom: fluid(118, 177);
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		gap: fluid(44, 78);

		@include respond-above(991) {
			justify-content: center;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #eaeaea;
		border-radius: 20px;
		padding: 40px;
		transition: box-shadow 0.3s;
		flex: 0 1 100%;
		min-height: 256px;

		// @include respond-above(991) {
		// 	ustify-content: center;
		// 	flex-basis: 43%;
		// 	max-width: 575px;
		// }

		@include respond-above(991) {
			justify-content: start;
			flex-basis: 43%;
			max-width: 575px;
		}

		@include respond-above(1880) {
			flex-basis: 30%;
		}

		@include respond-above(2534) {
			min-height: 334px;
		}

		@media screen and (max-width: 470px) {
			min-height: 212px;
		}

		&:hover {
			box-shadow: 0px 0px 7px 1px #8c8c8c;
		}
	}

	&__card-header {
		@include font(80px, 900, 1, #474747);
		text-transform: uppercase;

		@include respond-above(1980) {
			font-size: fluid(80, 100);
		}

		@media screen and (max-width: 470px) {
			font-size: 20px;
		}
	}

	&__card-subheader {
		@include font(25px, 900, 1.26, #474747);
		margin-bottom: 21px;
		text-transform: uppercase;

		@include respond-above(960) {
			margin-bottom: 13px;
		}

		@include respond-above(1980) {
			margin-bottom: 24px;
			font-size: fluid(25, 33);
		}

		@media screen and (max-width: 470px) {
			font-size: 20px;
		}
	}

	&__card-description {
		@include font(20px, 300, 1.2, #474747);

		@include respond-above(1980) {
			font-size: fluid(20, 25);
		}
	}
}
