@keyframes showText {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveLeft {
	0% {
		left: 175%;
		opacity: 0;
		width: 0;
		// display: none !important;
	}

	100% {
		left: 0%;
		opacity: 1;
		// display: block !important;
	}
}

@keyframes callBack {
	0% {
		left: 0%;
	}

	100% {
		left: 175%;
		display: none;
	}
}

@keyframes showcross {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes dissshowcross {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.whatLocalization {
	padding-right: fluid(90, 339);
	padding-left: fluid(90, 339);
	overflow: hidden;
	@include container;
	margin-top: 50px;
	margin-bottom: 50px;

	@media screen and (max-width: 991px) {
		padding-bottom: 40px;
	}

	@media (max-width: 1700px) {
		padding-right: 5%;
		padding-left: 5%;
	}

	&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		@include font(fluid(20, 50), 900, 1.44, #0a0a0a);
		text-transform: uppercase;
		text-align: center;
		margin-bottom: fluid(15, 40);

		@media screen and (max-width: 1200px) {
			margin-bottom: 60px;
		}

		@media screen and (max-width: 600px) {
			margin-bottom: 30px;
		}
	}

	&__tabs {
		display: flex;
		flex-direction: row;
		gap: fluid(43, 53);

		@media screen and (max-width: 991px) {
			gap: fluid(20, 40);
			width: 100%;
		}

		@media screen and (max-width: 940px) {
			position: relative;
		}
	}

	&__tabs {
		& > #content-0 {
			display: block;
			background: #01d1ff;
			border-radius: 20px;
			width: 100%;
			padding: fluid(40, 91);

			@media screen and (max-width: 991px) {
				display: none;
				animation: none;
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		order: 0;
		white-space: nowrap;
		margin-bottom: 15px;
		background-color: #fff;
		border: none;
		box-shadow: none;
		gap: fluid(16, 30);
		width: 100%;

		@media screen and (max-width: 991px) {
			gap: fluid(10, 40);
		}
	}

	&__link {
		@include font(fluid(15, 20), 700, 1.22, #aaaaaa);

		display: flex;
		align-items: center;
		justify-content: space-between;
		text-decoration: none;

		padding-top: fluid(10, 25);
		padding-bottom: fluid(10, 25);
		padding-right: fluid(10, 22);
		padding-left: fluid(15, 45);

		background-color: #e9e9e9;
		border-radius: 8px;

		transition: background-color 0.3s;

		&--secret {
			border-top: 70px solid #ffffff;
			position: relative;

			&:before {
				transition: background-color 0.3s;
				content: '';
				position: absolute;
				width: 100%;
				height: 10px;
				background-color: #01d1ff;
				top: -10px;
				left: 0;
				border-top-left-radius: 20px;
				border-top-right-radius: 20px;
			}
		}

		@media screen and (max-width: 1450px) {
			font-size: 18px;
		}
		@media screen and (max-width: 500px) {
			font-size: 14px;
		}

		&:hover {
			background-color: #dddddd;
		}

		@media screen and (max-width: 1600px) {
			padding-top: fluid(20, 39);
			padding-bottom: fluid(20, 39);
			padding-right: fluid(10, 22);
			padding-left: fluid(21, 50);
		}
	}

	&__mark {
		width: 33px;
		height: 33px;
		border: 3px solid #777777;
		border-radius: 100%;
		display: inline-block;
		margin-left: 88px;
		position: relative;

		@media screen and (max-width: 991px) {
			// content: '+';
			color: #ffffff;
			background-color: #01d1ff;
			border-color: #01d1ff;
			text-align: center;
		}

		&:before {
			background-color: transparent;
			@media screen and (max-width: 991px) {
				content: '+';
				color: #ffffff;
				background-color: #01d1ff;
				vertical-align: -webkit-baseline-middle;
				height: 17px !important;
			}
		}

		@media screen and (max-width: 1600px) {
			width: 30px;
			height: 30px;
			margin-left: 40px;
		}

		@media screen and (max-width: 1450px) {
			margin-left: 0px;
		}
	}

	&__tabs {
		& > #content-1,
		& > #content-2:target ~ .whatLocalization__links > a[href='#content-2'],
		& > #content-3:target ~ .whatLocalization__links > a[href='#content-3'],
		& > #content-4:target ~ .whatLocalization__links > a[href='#content-4'],
		& > #content-5:target ~ .whatLocalization__links > a[href='#content-5'] {
			background-color: #01d1ff;
			color: #ffffff;

			@media screen and (max-width: 991px) {
				&:not(&:first-child) {
					background-color: #e9e9e9;
					color: #aaaaaa;
				}
			}
			cursor: default;

			&:first-child {
				&:not(:target) ~ .whatLocalization__links > a[href='#content-1'] {
					background-color: #01d1ff;
					color: #ffffff;

					&:before {
						background-color: #01d1ff;
					}

					@media screen and (max-width: 991px) {
						background-color: #01d1ff;
						color: #ffffff;

						&:before {
							background-color: #e9e9e9;
						}
					}

					& > .whatLocalization__mark {
						border-color: #ffffff;

						&:before {
							position: absolute;
							content: '';
							width: 20px;
							height: 20px;
							background-color: #ffffff;
							border-radius: 100%;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto;

							@media screen and (max-width: 1600px) {
								width: 14px;
								height: 14px;
							}

							@media screen and (max-width: 991px) {
								content: '+';
								color: #ffffff;
								background-color: #01d1ff;
								vertical-align: -webkit-baseline-middle;
								height: 17px !important;
							}
						}
						@media screen and (max-width: 991px) {
							// content: '+';
							color: #ffffff;
							background-color: #01d1ff;
							border-color: #01d1ff;
							text-align: center;
						}
					}

					@media screen and (max-width: 991px) {
						background-color: #e9e9e9;
						color: #aaaaaa;
					}
				}
			}

			& > .whatLocalization__mark {
				border-color: #ffffff;
				@media screen and (max-width: 991px) {
					// content: '+';
					color: #ffffff;
					background-color: #01d1ff;
					border-color: #01d1ff;
					text-align: center;
				}
				&:before {
					position: absolute;
					content: '';
					width: 15px;
					height: 15px;
					background-color: #ffffff;
					border-radius: 100%;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;

					@media screen and (max-width: 1600px) {
						width: 14px;
						height: 14px;
					}

					@media screen and (max-width: 991px) {
						content: '+';
						color: #ffffff;
						background-color: #01d1ff;
					}
				}
			}
		}
	}

	&__tabs > #content-1:target ~ .whatLocalization__links > a[href='#content-1'] {
		background-color: #01d1ff;
		color: #ffffff;

		@media screen and (max-width: 991px) {
			background-color: #e9e9e9;
			color: #aaaaaa;

			&:before {
				background-color: #e9e9e9;
			}
		}

		& > .whatLocalization__mark {
			border-color: #ffffff;
			@media screen and (max-width: 991px) {
				// content: '+';
				color: #ffffff;
				background-color: #01d1ff;
				border-color: #01d1ff;
				text-align: center;
			}
			&:before {
				position: absolute;
				content: '';
				width: 15px;
				height: 15px;
				background-color: #ffffff;
				border-radius: 100%;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;

				@media screen and (max-width: 1600px) {
					width: 14px;
					height: 14px;
				}
				@media screen and (max-width: 991px) {
					content: '+';
					color: #ffffff;
					background-color: #01d1ff;
				}
			}
		}
	}

	&__tabs {
		& > #content-2:target,
		& > #content-3:target,
		& > #content-4:target,
		& > #content-5:target {
			& ~ .whatLocalization__links > a[href='#content-1'] {
				background-color: #e9e9e9 !important;
				color: #aaaaaa !important;
				&:before {
					background-color: #e9e9e9 !important;
				}
				& > .whatLocalization__mark {
					@media screen and (max-width: 991px) {
						// content: '+';
						color: #ffffff;
						background-color: #01d1ff;
						border-color: #01d1ff;
						text-align: center;
					}
					border-color: #aaaaaa !important;

					&:before {
						position: absolute;
						content: '';
						width: 20px;
						height: 20px;
						background-color: transparent !important;
						border-radius: 100%;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
					}
					@media screen and (max-width: 991px) {
						content: '+';
						color: #ffffff;
						background-color: #01d1ff;
						border-color: #01d1ff !important;
					}
				}
			}

			& ~ #content-0 {
				display: none;
			}
		}
	}

	&__tabs > #content-1:target {
		& ~ #content-0 {
			display: none;
		}
	}

	&__tabs > div:not(.whatLocalization__links) {
		display: none;
		order: 1;
		flex-grow: 1;
	}

	&__tabs > div:target {
		display: block;
		opacity: 1;
		transition: all 0.3s;

		@media screen and (max-width: 991px) {
			display: flex;
			justify-content: center;
			align-items: center;
			transition: 0.3s;
		}
	}

	&__text {
		border-top: 70px solid #ffffff;
		background: #01d1ff;
		border-radius: 8px;
		width: 100%;
		padding: fluid(40, 91);
		@include font(fluid(15, 20), 500, 1.22, #ffffff);
		position: relative;

		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 10px;
			background-color: #01d1ff;
			top: -10px;
			left: 0;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
		}

		@media screen and (max-width: 991px) {
			position: absolute;
			left: 175%;
			animation: moveLeft 1s forwards;
			z-index: 2;
			font-size: 20px;
		}
		@media screen and (max-width: 940px) {
			height: 100%;
		}
		@media screen and (max-width: 500px) {
			font-size: 14px;
		}
	}

	&__text-sub {
		margin-bottom: 0;
	}

	&__list {
		margin: 0;
		padding-left: 20px;
	}

	&__list-item {
		margin: 0;
		position: relative;

		&:before {
			width: 11px;
			height: 11px;
			background-color: #ffffff;
			position: absolute;
			content: '';
			border-radius: 100%;
			left: -18px;
			top: 8px;
		}
	}

	&__anim-box {
		animation: showText 1s forwards;
	}

	&__cross {
		position: absolute;
		display: block !important;
		z-index: 33;

		right: 30px;
		top: 95px;

		transition: opacity 0.3s;

		@media screen and (max-width: 991px) {
			opacity: 0;
		}

		&__link_cross {
			padding: 0;
			background-color: transparent;
		}

		img {
			width: 30px;
		}
	}
}
