@keyframes showText {
	0% {
		opacity: 0;
		transform: translateX(50%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.whatLocalization {
	@include container;
	padding-top: fluid(31, 100);
	padding-bottom: fluid(130, 220);
	padding-right: fluid(90, 339);
	padding-left: fluid(90, 339);
	&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		@include font(fluid(35, 75), 900, 1.44, #0a0a0a);
		text-transform: uppercase;
		text-align: center;
		margin-bottom: fluid(118, 60);
	}

	&__tabs {
		display: flex;
		flex-direction: row;
		gap: fluid(43, 53);
	}

	&__tabs {
		& > #content-0 {
			display: block;
			background: #01d1ff;
			border-radius: 20px;
			width: 100%;
			padding: fluid(40, 91);
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		order: 0;
		white-space: nowrap;
		margin-bottom: 15px;
		background-color: #fff;
		border: 1px solid #e3f2fd;
		border: none;
		box-shadow: none;
		gap: fluid(36, 47);
		width: 100%;
	}

	&__link {
		@include font(fluid(20, 35), 700, 1.22, #aaaaaa);

		display: flex;
		align-items: center;
		justify-content: space-between;
		text-decoration: none;

		padding-top: fluid(38, 39);
		padding-bottom: fluid(38, 39);
		padding-right: fluid(20, 22);
		padding-left: fluid(41, 50);

		background-color: #e9e9e9;
		border-radius: 20px;

		transition: background-color 0.3s;

		&:hover {
			background-color: #dddddd;
		}
	}

	&__mark {
		width: 44px;
		height: 44px;
		border: 3px solid #777777;
		border-radius: 100%;
		display: inline-block;
		margin-left: 88px;
		position: relative;

		&:before {
			background-color: transparent;
		}
	}

	&__tabs {
		& > #content-1,
		& > #content-2:target ~ .whatLocalization__links > a[href='#content-2'],
		& > #content-3:target ~ .whatLocalization__links > a[href='#content-3'],
		& > #content-4:target ~ .whatLocalization__links > a[href='#content-4'],
		& > #content-5:target ~ .whatLocalization__links > a[href='#content-5'] {
			background-color: #01d1ff;
			color: #ffffff;
			cursor: default;
			&:first-child {
				&:not(:target) ~ .whatLocalization__links > a[href='#content-1'] {
					background-color: #01d1ff;
					color: #ffffff;

					& > .whatLocalization__mark {
						border-color: #ffffff;
						&:before {
							position: absolute;
							content: '';
							width: 20px;
							height: 20px;
							background-color: #ffffff;
							border-radius: 100%;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
							margin: auto;
						}
					}
				}
			}

			& > .whatLocalization__mark {
				border-color: #ffffff;
				&:before {
					position: absolute;
					content: '';
					width: 20px;
					height: 20px;
					background-color: #ffffff;
					border-radius: 100%;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}
		}
	}

	&__tabs > #content-1:target ~ .whatLocalization__links > a[href='#content-1'] {
		background-color: #01d1ff;
		color: #ffffff;

		& > .whatLocalization__mark {
			border-color: #ffffff;
			&:before {
				position: absolute;
				content: '';
				width: 20px;
				height: 20px;
				background-color: #ffffff;
				border-radius: 100%;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
			}
		}
	}

	&__tabs {
		& > #content-2:target,
		& > #content-3:target,
		& > #content-4:target,
		& > #content-5:target {
			& ~ .whatLocalization__links > a[href='#content-1'] {
				background-color: #e9e9e9 !important;
				color: #aaaaaa !important;
				& > .whatLocalization__mark {
					border-color: #aaaaaa !important;
					&:before {
						position: absolute;
						content: '';
						width: 20px;
						height: 20px;
						background-color: transparent !important;
						border-radius: 100%;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
					}
				}
			}
			& ~ #content-0 {
				display: none;
			}
		}
	}

	&__tabs > #content-1:target {
		& ~ #content-0 {
			display: none;
		}
	}

	&__tabs > div:not(.whatLocalization__links) {
		display: none;
		order: 1;
		flex-grow: 1;
	}

	&__tabs > div:target {
		display: block;
		opacity: 1;
	}

	&__text {
		background: #01d1ff;
		border-radius: 20px;
		width: 100%;
		padding: fluid(40, 91);
		@include font(fluid(20, 25), 500, 1.22, #ffffff);
	}
	&__text-sub {
		margin-bottom: 0;
	}
	&__list {
		margin: 0;
		padding-left: 20px;
	}
	&__list-item {
		margin: 0;
		position: relative;

		&:before {
			width: 11px;
			height: 11px;
			background-color: #ffffff;
			position: absolute;
			content: '';
			border-radius: 100%;
			left: -18px;
			top: 3px;
		}
	}

	&__anim-box {
		animation: showText 1s forwards;
	}
}
