.whatLocalization {
	&__content {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		font-size: 4.6rem;
		font-weight: 900;
		line-height: 1.262;
		color: #0a0a0a;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 123px;
	}

	.tabs {
		display: flex;
		flex-direction: column;
	}

	.tabs__links {
		display: flex;
		flex-direction: row;
		order: 0;
		white-space: nowrap;
		margin-bottom: 15px;
		background-color: #fff;
		border: 1px solid #e3f2fd;
		box-shadow: 0 2px 4px 0 #e3f2fd;
	}

	.tabs__links > a {
		display: inline-block;
		text-decoration: none;
		color: #1976d2;
		padding: 6px 10px;
		text-align: center;
	}

	.tabs__links > a:hover {
		background-color: rgba(227, 242, 253, 0.3);
	}

	.tabs > #content-1,
	.tabs > #content-2:target ~ .tabs__links > a[href='#content-2'],
	.tabs > #content-3:target ~ .tabs__links > a[href='#content-3'],
	.tabs > #content-4:target ~ .tabs__links > a[href='#content-4'],
	.tabs > #content-5:target ~ .tabs__links > a[href='#content-5'] {
		background-color: #0f6fbe;
		cursor: default;

		&:first-child {
			background-color: #ffffff;

			&:not(:target) ~ .tabs__links > a[href='#content-1'] {
				background-color: #0f6fbe;
			}
		}
	}

	.tabs > #content-2:target,
	.tabs > #content-3:target,
	.tabs > #content-4:target,
	.tabs > #content-5:target {
		& ~ .tabs__links > a[href='#content-1'] {
			background-color: #ffffff !important;
			// color: green !important;
		}
	}

	.tabs > #content-1:target ~ .tabs__links > a[href='#content-1'] {
		background-color: #0f6fbe;
	}

	// .tabs > #content-1:not(:target) ~ .tabs__links > a[href='#content-1'] {
	// 	background-color: #0f6fbe;
	// }

	.tabs > div:not(.tabs__links) {
		display: none;
		order: 1;
		flex-grow: 1;
	}

	@media (min-width: 576px) {
		.tabs {
			flex-direction: row;
		}

		.tabs__links {
			flex-direction: column;
			border: none;
			box-shadow: none;
		}

		.tabs__links > a {
			border: 1px solid #e3f2fd;
			box-shadow: 0 2px 4px 0 #e3f2fd;
			margin-bottom: 8px;
		}

		.tabs__links > a:last-child {
			margin-bottom: 0;
		}

		.tabs > div:not(.tabs__links) {
			padding-left: 15px;
		}
	}

	.tabs > div:target {
		display: block;
	}
}
