$font-family-main: Gilroy, Helvetica, sans-serif;
$content-width: 2560px;

//Spaces
$padding-container-min: 20;
$padding-container-max: 339;

@mixin container {
	max-width: $content-width;
	margin: 0 auto;
	padding-right: fluid($padding-container-min, $padding-container-max);
	padding-left: fluid($padding-container-min, $padding-container-max)
}

@mixin font($size: 16px, $weight: false, $lh: false, $color: false) {
	font-family: $font-family-main;

	@if $size {
		font-size: $size;
	}

	@if $weight {
		font-weight: $weight;
	}

	@if $color {
		color: $color;
	}

	@if $lh {
		line-height: $lh;
	}
}

@mixin respond-above($breakpoint) {
	@media (min-width: #{$breakpoint}px) {
		@content;
	}
}