@mixin container {
	max-width: 2560px;
	margin: 0 auto;
}

@mixin media-breakpoint-up($key) {
	$min: map-get($grid-breakpoints-up, $key);

	@media (min-width: $min) {
		@content;
	}
}

@mixin media-breakpoint-down($key) {
	$max: map-get($grid-breakpoints-down, $key);

	@media (min-width: $max) {
		@content;
	}
}
